
body{ 
    background-color: rgb(0, 0, 0);

}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 1s ease-in-out infinite;
  background-size: 400% 100%;
}

img{animation:rainbow_animation 10s ease-in-out infinite;

}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
      font-size: 50px;
      transform: rotate3d(1,1,1, 360deg);
  }

  50% {
      background-position: 100% 0;
      font-size: 30px;
      transform: rotate3d(-1,-1,-1, 180deg);
  }
}
